@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: "Passion One", serif;
  --fonte3: "Sriracha", serif;
}

/* CONFIGURAÇÕES GLOBAIS */

* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

/* PRE-SET HTML, BODY */

html,
body {
  min-height: 100vh;
  background-color: darkgray;
  font-family: var(--fonte1);
}

/* CABEÇALHO DO SITE */

header {
  background-color: rgb(0, 44, 44);
  color: white;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-family: var(--fonte2);
  font-size: 10vw;
}

header > p {
  padding-bottom: 50px;
  font-size: 2vw;
}

/* HEADER + FOOTER DO SITE*/

header a,
footer a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

/* SECTIONS DO SITE */

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 25px;
  font-family: var(--fonte3);
  font-size: 3.5vw;
}

section > p {
  padding-bottom: 2em;
}

section#img01 {
  background-image: url(../imagens/background001.jpg);
  background-position: right center;
}

section#img02 {
  background-image: url(../imagens/background002.jpg);
  background-position: center center;
}

section.normal {
  background-color: white;
  color: black;
}

section.imagen {
  background-color: rgba(0, 78, 78, 0.637);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.671);
  background-size: cover;
  background-attachment: fixed;
}

section.imagen > p {
  padding: 5px;
  display: inline-block;
  background-color: rgba(0, 56, 56, 0.637);
  text-shadow: 2px 2px 0px black;
}

/* RODAPÉ DO SITE */

footer {
  background-color: rgb(0, 44, 44);
  text-align: center;
  color: white;
  padding: 10px;
}

footer > a.curso {
  color: rgb(30, 0, 197);
}
